<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-full bg-white">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.png}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="|Planner - ${project}|"></title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body class="bg-neutral-800">
<div th:replace="~{fragments/components :: sidenav}"></div>
<div id="main" class="main-container">
    <div th:replace="~{fragments/components :: header}"></div>
    <div class="flex flex-col py-12 w-full space-y-12">
        <div class="m-auto flex flex-col justify-center space-y-8">
            <h2 class="text-6xl font-bold text-yellow-400">Planner</h2>
            <span th:text="${user.nickname}" class="font-bold text-yellow-400 text-4xl m-auto"></span>
        </div>
        <div th:if="${#lists.isEmpty(planner)}" class="flex justify-between items-center bg-yellow-400 rounded-xl px-12 py-4 m-auto max-w-5xl basis-256">
            <span class="font-bold">The planner is empty...</span>
            <a th:href="@{/items}" class="px-4 py-1.5 font-bold text-white bg-slate-950 rounded hover:bg-blue-700">Add new item</a>
        </div>
        <div th:unless="${#lists.isEmpty(missing)}" class="max-w-5xl basis-256 m-auto bg-yellow-400 pt-2 pb-4 px-12 rounded-xl">
            <span class="text-xl font-bold">Missing items</span>
            <div class="w-full h-[2px] bg-slate-950 mb-4"></div>
            <div class="grid grid-cols-6 justify-between">
                <div th:each="missingItem : ${missing}" class="flex flex-col justify-between">
                    <div>
                        <div class="w-[96px] h-[96px] m-auto">
                            <div th:replace="~{fragments/components :: itemImage (${missingItem.item})}"></div>
                        </div>
                        <div class="text-center">
                            <a th:href="@{/item/{id}(id=${missingItem.item.id})}">
                                <span th:text="${missingItem.item.nameEn}" class="hover:underline font-bold"></span>
                            </a>
                        </div>
                    </div>
                    <span th:text="${missingItem.quantity}" class="font-bold text-center"></span>
                </div>
            </div>
        </div>
        <div th:unless="${#lists.isEmpty(planner)}" class="max-w-5xl basis-256 m-auto bg-yellow-400 pt-2 pb-4 px-12 rounded-xl">
            <span class="text-xl font-bold">Planned items</span>
            <div class="w-full h-[2px] bg-slate-950 mb-4"></div>
            <div class="grid grid-cols-6 justify-between">
                <div th:each="plannedItem : ${planner}" class="flex flex-col justify-between">
                    <div>
                        <div class="w-[96px] h-[96px] m-auto">
                            <div th:replace="~{fragments/components :: itemImage (${plannedItem.item})}"></div>
                        </div>
                        <div class="text-center">
                            <a th:href="@{/item/{id}(id=${plannedItem.item.id})}">
                                <span th:text="${plannedItem.item.nameEn}" class="hover:underline font-bold"></span>
                            </a>
                        </div>
                    </div>
                    <div class="flex justify-around">
                        <form th:action="@{/user/planner/removeOne/{id}(id=${plannedItem.item.id})}" method="post" class="bg-black rounded-full hover:bg-blue-700">
                            <button type="submit" class="text-white font-bold block m-auto w-[24px]">-</button>
                        </form>
                        <span th:text="${plannedItem.quantity}" class="font-bold"></span>
                        <form th:action="@{/user/planner/addOne/{id}(id=${plannedItem.item.id})}" method="post" class="bg-black rounded-full hover:bg-blue-700">
                            <button type="submit" class="text-white font-bold block m-auto w-[24px]">+</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>